name: Tests

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '*.json'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '*.json'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y xvfb
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run tests
        run: |
          export PYTHONPATH=$PYTHONPATH:.
          xvfb-run pytest
